{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style type="text/css">
    .hall-img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: center;
    }

    .no-room {
        background-image:url({% static 'SchoolImages/MainImages/Roombooking.png' %});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        min-height: 100%; 
        display: flex; 
        flex-direction: column;
        font-weight: bold;
    
    
    }
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for image in images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image.url }}" class="d-block w-100 hall-img" alt="Hall Image">
                </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% if rooms %}
    <div class="container">
        <table class="table table-striped table-hover table-bordered my-5">
            <thead>
                <tr>
                    <th scope="col">Room No</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Occupants</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                {% if room.occupants != 4 %}
                    <tr>
                        <td>{{ room.room_number }}</td>
                        <td>{{ room.floor }}</td>
                        <td>{{ room.occupants }}</td>
                        <td>
                            <a href="{% url 'booking' room.id %}">
                                <button type="button" class="btn btn-secondary">Book</button>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="no-room" style="min-height: 100%; display: flex; flex-direction: column;">
        <div class="row justify-content-center align-items-center flex-grow-1">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <p class="text-center text-danger fs-1">Sorry, no rooms available</p>
            </div>
        </div>
      </div>
      {% endif %}

</div>
{% endblock %}
